{% extends "register/base.html" %}
{% block content %}
<table class="table">
    <tbody>
        {% if user.account_name %}
        <tr>
            <th>ユーザー名</th>
            <td>{{ user.account_name }}</td>
        </tr>
        {% else %}
        <tr>
            <th>ユーザー名</th>
            <td>登録されていません</td>
        </tr>
        {% endif %}
        <tr>
            <th>お名前</th>
            <td>{{ user.last_name }}　{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>登録日</th>
            <td>{{ user.date_joined|date:"Y年m月d日" }}</td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>職業</th>
            <td>{{ user.job }}</td>
        </tr>
        <tr>
            <th>あなたの承認待ち</th>
            <td>
                {% for user in approval_pending_list %}
                    {{ user.sender.account_name }}
                    <form method="POST">
                        {% csrf_token %}
                        <button name="approval" value="{{ user.sender.account_name }}">Arroval</button>
                    </form>
                    <form method="POST">
                        {% csrf_token %}
                        <button name="reject" value="{{ user.sender.account_name }}">Reject</button>
                    </form>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>相手の承認待ち</th>
            <td>
                {% for user in request_list %}
                    {{ user.receiver.account_name }}
                    <form method="POST">
                        {% csrf_token %}
                        <button name="cancel" value="{{ user.receiver.account_name }}">Cancel</button>
                    </form>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>親しい友達</th>
            <td>
                {% for user, date in intimate_dic_sorted %}
                <p>{{ user }}｜登録日：{{ date|date:"Y年m月d日" }}</p>
                {% endfor %}
            </td>
        </tr>
            <tr>
            <th>拒否したユーザー</th>
            <td>
                {% for user in reject_lst %}
                <p>{{ user.sender.account_name }}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <button name="approval" value="{{ user.sender.account_name }}">Arroval</button>
                    </form>
                {% endfor %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}